body {
    background-color: #f9f9f9;
}

input {
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color: #666666;
    padding: 3px 6px;
    vertical-align: middle;
}
button {
    font-family: Helvetica, sans-serif;
    font-weight: bold;

    background-color: #c2c2c2;
    color: #666666;
    
    border-radius: 4px;
    border: none;
    padding: 4px 8px;

    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    
}
button:hover{
    background-color: #2098D1;        
    color: white;
}

img {
    width: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

ul {
    list-style: none;
    margin: 0;    
    padding: 0;
    font-family: sans-serif;
}
li {
    clear: both;
    margin-top: 20px;
}

strong {
    font-size: 20px;
}

p {
    margin: 5px 0;
}
